.element__like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(../../../images/like-white.svg);
  border: none;
  display: block;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease, background-image .2s ease;
}

.element__like:hover {
  opacity: .5;
}

.element__like:active {
  background-image: url('../../../images/like-active.svg');
  opacity: 1;
}
