.page {
  background-color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
}

.page__container {
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {

}
/* === === === === ===
          HEADER
   === === === === === */
.header {
  padding-top: 45px;
}

@media screen and (max-width: 900px) {
  .header {
    padding-top: 28px;
  }
}

.logo {
  width: 142px;
  height: 33px;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 103px;
    height: 24px;
    padding-left: 27px;
  }
}

.header__line {
  width: 100%;
  height: 1px;
  margin-top: 41px;
  background-color: rgba(84, 84, 84, .7);
}

@media screen and (max-width: 900px) {
  .header__line {
    margin-top: 31px;
  }
}

/* === === === === ===
        PROFILE
   === === === === === */
.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 50px;
}

@media screen and (max-width: 900px) {
  .profile {
    padding: 40px 19px 36px;
    flex-direction: column;
  }
}
.profile__avatar {
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-image: url(images/kusto.jpg);
  background-size: cover;
  border-radius: 50%;
}

.profile__info {
  max-width: 336px;
  margin-left: 30px;
}
@media screen and (max-width: 900px) {
  .profile__info {
    margin: 26px 0 36px;
    text-align: center;
  }
}

.profile__info-title {
  display: inline-block;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 14px;
}

@media screen and (max-width: 900px) {
  .profile__info-title {
    font-size: 27px;
    line-height: 1.21;
    margin-right: 10px;
  }
}

.profile__info-subtitle {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
}

@media screen and (max-width: 900px) {
  .profile__info-subtitle {
    margin-top: 14px;
    font-size: 14px;
  }
}

.profile__info-edit-button {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
}

@media screen and (max-width: 900px) {
  .profile__info-edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__button {

  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  background-color: #000;
  background-image: url(images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 900px) {
  .profile__button {
    width: 100%;
    margin: 0 auto;
  }
}


/* === === === === ===
        ELEMENTS
   === === === === === */
.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    padding: 0 19px;
  }
}

@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: 1fr;
    padding: 0 19px;
  }
}

.element {
  width: 282px;
  height: 361px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .element {
    width: 100%;;
  }
}

.element__picture {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
/*  margin: 0;*/
/*  padding: 0;*/
/*  line-height: 0;*/
  display: block;
}

@media screen and (max-width: 900px) {
  .element__picture {
    width: 100%;
  }
}




.element__wrapper {
  display: flex;
  align-items: center;
}

.element__name {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 25px auto 31px 21px;
  padding: 0;
  display: block;
}

.element__like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url(images/like-white.svg);
  border: none;
  display: block;
  padding: 0;
  margin-right: 20px;
}


/* === === === === ===
        FOOTER
   === === === === === */
.footer {
  padding: 66px 0 60px;
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: #545454;
}


@media screen and (max-width: 900px) {
  .footer__copyright {
    font-size: 14px;
  }
}







